---
# Only the main Sass file needs front matter (the dashes are enough)
---
$spacing-unit: 30px !default;

@charset "utf-8";
@import "bootstrap";
@import "syntax";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.navbar-home {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  border-bottom: 1px solid #fff;
  .navbar-header {
    .navbar-brand {
      color: #fff;
    }
  }
  .container-fluid {
    .navbar-right {
      ul {
        a {
          color: #fff;
        }
      }
    }
  }
}

html {
  padding: 0px;
  min-height: 100%;
  margin: 0px;
}

body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

.home {
  background: url('../images/background.jpg') no-repeat;
  background-position: center center;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

.home-title {
  display: block;
  text-align: center;
  font-size: 4em;
  color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.home-tagline {
  text-align: center;
  font-size: 2.5em;
  color: #fff;
}

.home-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-3 {
  font-size: 2.75em;
}

.social-icons {
  text-align: center;
}

.social-icon, .social-icon:active, .social-icon:visited, .social-icon:hover {
  color: #fff;
  margin: .25em;
}
